@keyframes one {
    0% {
        font-size: 0%;
        background-color: #fff;
    }
    100% {
        font-size: 400%;
        background-color: #fbf;
    }
}

body {
    background-color: #fbf;
    color: #fff;
    font-size: 400%;
    text-align: center;
    animation-name: one;
    animation-duration: 4s;
}

a {
    color: #fff;
    font-size: 50%;
    text-align: center;
}